@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
    box-sizing: border-box;
}

.menu {
    background-color: #0d0d0d;
    color: white;
    font-family: 'Roboto', sans-serif;}

.btn {

    background-color: white;
}

h1,h2,h3 {

    font-family: 'Roboto', sans-serif;
}

nav a {
color: white;

}




.part1{
    text-align: center;
    margin-top: 30px;

}

.changeorange{
    color:   #fcb823;

    
}

.sobrep{
    font-family: 18px;
    line-height: 22px;

    font-family: 'Roboto', sans-serif;
}

.porange {
    background-color: #fcb823 ; 
  }


  .textc{
      text-align: center;
      margin-top: 100px;
  }

 .cardi{
     display: flex;
     justify-content:center;
     text-align: center;

     }

     .primeiro{
         margin-right: 10px;
         padding-top: 10px;
     }

     .segundo{
         margin-right: 10px;
         padding-top: 10px;
     }


     .planos-text{
         text-align: center;
         padding-top: 50px;
         font-family: 18px;

     }

     .cor-orange{
        color:   #fcb823;
    
     }
     

     .cor-oranges{
        color:   #fcb823;
        font-size: small;
     }
     

     .foooterss {
        color: white;
        font-family: 'Roboto', sans-serif;
        


     }

<<<<<<< HEAD
      /* CSS UNIDADE HTML  */

.embaixo{
    padding: 27px 10px;
    border: 3;
    border-radius: 30px;
    margin-top: 10px;
}

.cardunid{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}

.detalhess{
    background-color: darkorange;
}

=======
     
>>>>>>> e6c70b8da3d6b196c347bb3d6cc7f7d34580a6d1
